Package: tf.festival.rescale2
Name: Re:Scale 2
Depends: mobilesubstrate, preferenceloader
Version: 1.0.3
Architecture: iphoneos-arm
Description: A modern (and safe) Upscale alternative!
Maintainer: Sniper_GER <sniperger@festival.tf>
Author: Sniper_GER <sniperger@festival.ml>
Section: Tweaks
