<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<dict>
			<key>canvas_height</key>
			<integer>960</integer>
			<key>canvas_width</key>
			<integer>640</integer>
			<key>deviceType</key>
			<string>iphone35</string>
			<key>maxOSVersion</key>
			<string>9.3.99</string>
			<key>minOSVersion</key>
			<string>8.0</string>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>1136</integer>
			<key>canvas_width</key>
			<integer>640</integer>
			<key>deviceType</key>
			<string>iphone4</string>
			<key>maxOSVersion</key>
			<string>12.5.99</string>
			<key>minOSVersion</key>
			<string>8.0</string>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>1334</integer>
			<key>canvas_width</key>
			<integer>750</integer>
			<key>deviceType</key>
			<string>iphone47</string>
			<key>minOSVersion</key>
			<string>8.0</string>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2208</integer>
			<key>canvas_width</key>
			<integer>1242</integer>
			<key>deviceType</key>
			<string>iphone55</string>
			<key>minOSVersion</key>
			<string>8.0</string>
			<key>screenScale</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2436</integer>
			<key>canvas_width</key>
			<integer>1125</integer>
			<key>deviceType</key>
			<string>iphone58</string>
			<key>minOSVersion</key>
			<string>11.0</string>
			<key>screenScale</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>1792</integer>
			<key>canvas_width</key>
			<integer>828</integer>
			<key>deviceType</key>
			<string>iphone61</string>
			<key>minOSVersion</key>
			<string>12.0</string>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2688</integer>
			<key>canvas_width</key>
			<integer>1242</integer>
			<key>deviceType</key>
			<string>iphone65</string>
			<key>minOSVersion</key>
			<string>12.0</string>
			<key>screenScale</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2532</integer>
			<key>canvas_width</key>
			<integer>1170</integer>
			<key>deviceType</key>
			<string>iphone61-12pro</string>
			<key>minOSVersion</key>
			<string>14.0</string>
			<key>screenScale</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2436</integer>
			<key>canvas_width</key>
			<integer>1125</integer>
			<key>deviceType</key>
			<string>iphone54-12mini</string>
			<key>minOSVersion</key>
			<string>14.0</string>
			<key>screenScale</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2778</integer>
			<key>canvas_width</key>
			<integer>1284</integer>
			<key>deviceType</key>
			<string>iphone67-12promax</string>
			<key>minOSVersion</key>
			<string>14.0</string>
			<key>screenScale</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>1</key>
	<array>
		<dict>
			<key>canvas_height</key>
			<integer>1024</integer>
			<key>canvas_width</key>
			<integer>768</integer>
			<key>deviceType</key>
			<string>ipad97-1x</string>
			<key>maxOSVersion</key>
			<string>9.3.5</string>
			<key>minOSVersion</key>
			<string>8.0</string>
			<key>screenScale</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2048</integer>
			<key>canvas_width</key>
			<integer>1536</integer>
			<key>deviceType</key>
			<string>ipad97</string>
			<key>minOSVersion</key>
			<string>8.0</string>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2160</integer>
			<key>canvas_width</key>
			<integer>1620</integer>
			<key>deviceType</key>
			<string>ipad102</string>
			<key>minOSVersion</key>
			<string>13.1</string>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2224</integer>
			<key>canvas_width</key>
			<integer>1668</integer>
			<key>deviceType</key>
			<string>ipad105</string>
			<key>minOSVersion</key>
			<string>10.3</string>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2360</integer>
			<key>canvas_width</key>
			<integer>1640</integer>
			<key>deviceType</key>
			<string>ipad109</string>
			<key>minOSVersion</key>
			<string>14.0</string>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2388</integer>
			<key>canvas_width</key>
			<integer>1688</integer>
			<key>deviceType</key>
			<string>ipad11</string>
			<key>minOSVersion</key>
			<string>12.1</string>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>canvas_height</key>
			<integer>2732</integer>
			<key>canvas_width</key>
			<integer>2048</integer>
			<key>deviceType</key>
			<string>ipad129</string>
			<key>minOSVersion</key>
			<string>9.1</string>
			<key>screenScale</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
